<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DbTables</key>
	<array>
		<string>CREATE TABLE  if not exists  T_ADMIN_RMS_YH(YHID VARCHAR(50) NOT NULL,YHMC VARCHAR(100) NULL, ZFBH VARCHAR(50) NULL,YHSJ VARCHAR(50) NULL,BGDH VARCHAR(50) NULL,PYJX VARCHAR(50) NULL,BMBH VARCHAR(50) NULL,XB VARCHAR(2) NULL,SFYX VARCHAR(10) NULL,SFZG VARCHAR(10) NULL,PXH INTEGER,ORGID VARCHAR(50) NULL,YHBJ VARCHAR(50) NULL,CJSJ  VARCHAR(50) NULL,XGSJ  VARCHAR(50) NULL,ZDYS VARCHAR(50) NULL,YHJB VARCHAR(50) NULL,YHCW VARCHAR(50) NULL,HBID VARCHAR(20) NULL,TP VARCHAR(10) NULL,SFLD VARCHAR(50) NULL,CJR VARCHAR(50) NULL,XGR VARCHAR(50) NULL,ZFZH VARCHAR(50) NULL, SQYY VARCHAR(50) NULL, YHMM VARCHAR(100) NULL)</string>
		<string>CREATE TABLE   if not exists T_ADMIN_RMS_ZZJG(ZZBH VARCHAR(50) NOT NULL,ZZJC VARCHAR(500) NULL,ZZQC VARCHAR(500) NULL,ZZDH VARCHAR(50) NULL,SJZZXH VARCHAR(50) NULL,PXH INTEGER,PYJX VARCHAR(50) NULL,CJR VARCHAR(50) NULL,XGR  VARCHAR(50) NULL,CJSJ  VARCHAR(50) NULL,XGSJ  VARCHAR(50) NULL,LXDH VARCHAR(50) NULL, SFYX VARCHAR(50) NULL,SJQX VARCHAR(50) NULL)</string>
		<string>CREATE TABLE  if not exists T_ADMIN_RMS_YH_TEMP(YHID VARCHAR(50) NOT NULL,YHMC VARCHAR(100) NULL, ZFBH VARCHAR(50) NULL,YHSJ VARCHAR(50) NULL,BGDH VARCHAR(50) NULL,PYJX VARCHAR(50) NULL,BMBH VARCHAR(50) NULL,XB VARCHAR(2) NULL,SFYX VARCHAR(10) NULL,SFZG VARCHAR(10) NULL,PXH INTEGER,ORGID VARCHAR(50) NULL,YHBJ VARCHAR(50) NULL,CJSJ  VARCHAR(50) NULL,XGSJ  VARCHAR(50) NULL,ZDYS VARCHAR(50) NULL,YHJB VARCHAR(50) NULL,YHCW VARCHAR(50) NULL,HBID VARCHAR(20) NULL,TP VARCHAR(10) NULL,SFLD VARCHAR(50) NULL,CJR VARCHAR(50) NULL,XGR VARCHAR(50) NULL,ZFZH VARCHAR(50) NULL, SQYY VARCHAR(50) NULL, YHMM VARCHAR(100) NULL)</string>
		<string>CREATE TABLE   if not exists T_ADMIN_RMS_ZZJG_TEMP(ZZBH VARCHAR(50) NOT NULL,ZZJC VARCHAR(500) NULL,ZZQC VARCHAR(500) NULL,ZZDH VARCHAR(50) NULL,SJZZXH VARCHAR(50) NULL,PXH INTEGER,PYJX VARCHAR(50) NULL,CJR VARCHAR(50) NULL,XGR  VARCHAR(50) NULL,CJSJ  VARCHAR(50) NULL,XGSJ  VARCHAR(50) NULL,LXDH VARCHAR(50) NULL, SFYX VARCHAR(50) NULL,SJQX VARCHAR(50) NULL)</string>
	</array>
	<key>InitialDatas</key>
	<array/>
	<key>DBName</key>
	<string>boandaProject.db</string>
</dict>
</plist>
